@{
    ViewData["Title"] = "Home Page";
}

<div id="main">
    <div id="result"></div>
    <div class="tile">
        <h3>Vibration Device Description</h3>
    </div>
    <div class="tile">
        <h4>Dover Vibration Device</h4>
    </div>
</div>

@section scripts
{

}
